* {
  margin: 0;
  padding: 0;
}

$color-primary: #ebda1d; // yellow color
$color-secondary: #f08a5d; // orange color
$color-tertiary: #b83b5e; // pink

nav {
  margin: 30px;
  background-color: $color-primary;
}

.navigation {
  list-style: none;

  li {
    display: inline-block;
    margin-left: 30px;

    &:first-child {
      margin: 0;
    }
  }
}
